<h1>New Album</h1>

<%= form_with model: [ @user, @user.albums.build ], url: albums_path, method: :post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image, multiple: true %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Back", albums_path %>